<tui-root>
  <div class="w-full text-right my-3 px-3">
    <button  tuiButton appearance="whiteblock-active" (click)="create()" >Create</button>

  </div>

  <ngx-table  [configuration]="configuration" [data]="data.items" [columns]="columns"> </ngx-table>

  <ng-template #actionTpl let-row let-rowIndex="rowIndex" >
    <div class="flex gap-1">
      <button tuiIconButton size="m" icon="tuiIconEdit" (click)="edit(rowIndex)" ></button>
      <button tuiIconButton icon="tuiIconTrash"   size="m" appearance="accent" (click)="delete(rowIndex, confirm)"></button>
    </div>
  </ng-template>
  <tui-table-pagination
    [total]="data.totalItems"
    [(page)]="page"
    [(size)]="size"
    (pageChange)="pageChange($event)"
  ></tui-table-pagination>

  <ng-template #confirm  let-observer>
      Do you want delete this user ?
      <div class="flex gap-[12px] justify-end">
        <button tuiButton size="xs" (click)="confirmDelete(confirm, observer)" >Delete</button>
        <button tuiButton  size="xs" appearance="accent"  (click)="observer.complete()">Cancel</button>
      </div>
  </ng-template>
</tui-root>
