<tui-root>
  <div class="columns">
    <div class="column col-12">
      <ngx-table  [configuration]="configuration" [data]="data.items" [columns]="columns"> </ngx-table>
    </div>
  </div>
  <ng-template #actionTpl let-row let-rowIndex="rowIndex" >
    <div class="flex gap-1">
      <button tuiButton (click)="edit(rowIndex)" >Edit</button>
      <button tuiButton appearance="accent" (click)="delete(rowIndex)">Delete</button>
    </div>
  </ng-template>
  <tui-table-pagination
    [total]="data.totalItems"
    [(page)]="page"
    [(size)]="size"
    (pageChange)="pageChange($event)"
  ></tui-table-pagination>
<crud-angular-dialog #dialog></crud-angular-dialog>
</tui-root>
